.wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 150px;
}

button {
  border-radius: 4px;
  border: solid 1px;
  border-color: rgb(215, 215, 195);
  width: 60px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.75);
}
/* 
button:active:hover {
  outline: none;
} */

button:disabled {
  cursor: auto;
}

p {
  font-size: 25px;
}
